body{
    background-color: #FFD6EC ;
}
th{
    color: #6F38C5;
    text-align: center;
}
img{
    border: 5px solid #3D3C42;
}
h1{
    text-align: center;
    font-size: 2em;
    color: black;
}
table tr {text-align: center;}

header{background-image: url(/assets/imagenes/fondoplaylist.jpeg);}
table {
    background-color: #3D3C42;
    width: 100%;
    border: 2px solid white;
}
table td {
    border: 2px solid #FFD6EC;;
     color: white;
}

